.table {
  display: grid;
  width: 790px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  //border: 1px solid $gr;
  row-gap: 15px;
  column-gap: 5px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table_row-gap_5px {
  row-gap: 5px;
  column-gap: 15px;
}

.table__text {
  border: 2px solid $gr;
  margin: 0;
  padding: 5px;
}

