.test-wrapper {
  background-color: #f6f6f6;
  padding: 50px;
  margin-bottom: 4px;
  margin-top: 100px;
}

.l-test-question span {
  margin-right: 5px;
  font-weight: bold;
}

.panel_FB {
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  padding: 20px;
  background-color: $e6;
}

.l-test-question {
  margin: 45px auto 35px auto;
}

.l-test {
  max-width: map_get($breakpoints, tablet);
  margin: 20px auto;
  font-size: 20px;
  line-height: 150%;
}
.test-sort-question {
  max-width: map_get($breakpoints, tablet);
  margin: 20px auto;
  font-size: 20px;
  line-height: 150%;
}

.l-test_answers {
  margin-bottom: 40px;
  margin-top: 40px;
}

.test-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.test-radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.test-radio + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #cdd1da;
  border-radius: 50%;
  background: #ffffff;
}

.test-radio--checkbox + label::before {
  border-radius: 0;
}

.test-radio + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #dc0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
}

.test-radio--checkbox + label::after {
  border-radius: 0;
}

.test-radio:checked + label::after {
  opacity: 1;
}

.test-radio:focus + label::before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.363);
}

.test-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.test-check + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.test-check + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #b8b8b8;

  background: #ffffff;
}

.test-check + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 14px;
  height: 14px;

  background: #dc0000;
  border: 2px solid #dc0000;
  box-sizing: border-box;
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
  opacity: 0;
  transition: 0.2s;
}

.test-check:checked + label::after {
  opacity: 1;
}

.test-check:focus + label::before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.363);
}

.test-btn,
.test-btn2,
.test-btn-drop {
  max-width: 206px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  margin: 50px auto 30px auto;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.test-btn:hover,
.test-btn2:hover,
.test-btn-drop:hover {
  border: 1px solid #dc0000;
}

.test-btn-active {
  border: none !important;
  color: #ffffff;
  cursor: no-drop !important;
}

.test_image {
  display: flex;
  align-items: center;
}

.test_image_block {
  margin: auto 15px;
}

.test_image__img {
  width: 170px;
  height: 150px;
}

.test_sort_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &--stage2 {
    flex-wrap: wrap;
  }

  &--stage8 {
    flex-wrap: wrap;
  }
}

.test_sort_block {
  max-width: 277px;
  height: 390px;
  border: 1px solid #391325;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 15px;

  &--stage4-1 {
    flex-basis: 25%;
    width: auto;

    & .test_sort_block__name {
      height: auto;

      &::after {
        width: 100%;
        left: 0;
        bottom: -5px;
      }
    }
  }

  &--stage4-2 {
    flex-basis: 25%;
    width: auto;
    // height: auto;
    min-height: 200px;

    & .test_sort_block__name {
      height: auto;

      &::after {
        width: 100%;
        left: 0;
        bottom: -5px;
      }
    }
  }

  &--stage2-1 {
    flex-basis: 33%;
    max-width: none;
    align-items: stretch;

    & .test_sort_block__name {
      height: auto;

      &::after {
        width: 94%;
        left: 1px;
        bottom: -8px;
      }
    }
  }

  &--stage2-3 {
    flex-basis: 22%;
    margin-bottom: 10px;
    height: 280px;
    & .test_sort_block__name {
      height: auto;

      &::after {
        width: 100%;
        left: 0;
        bottom: -5px;
      }
    }
  }

  &--stage10-1 {
    flex-basis: 22%;
    margin-bottom: 10px;

    & .test_sort_block__name {
      height: auto;

      &::after {
        width: 100%;
        left: 0;
        bottom: -5px;
      }
    }
  }

  &--stage3-1 {
    width: 277px;
    height: 179px;
    & .test_sort_block__name::after {
      bottom: -6px;
      left: 4px;
    }
  }

  &--stage3-2 {
    max-width: 370px;
    width: 370px;
    min-height: 390px;
    height: max-content;
    & .test_sort_block__name {
      margin: 21px auto 0;
      height: 75px;
    }
    & .test_sort_block__name::after {
      bottom: 10px;
      left: 4px;
      width: 95%;
    }
  }
  &--stage5 {
    max-width: 370px;
    width: 370px;
    min-height: 120px;
    height: max-content;
    & .test_sort_block__name {
      margin: 21px auto 0;
      height: 75px;
    }
    & .test_sort_block__name::after {
      bottom: 10px;
      left: 4px;
      width: 326px;
    }
  }
  &--stage8 {
    max-width: 500px;
    width: 500px;
    min-height: 300px;
    height: max-content;
    margin: 10px;
    & ul {
      min-height: 160px;
    }
    & .test_sort_block__name {
      margin: 21px auto 0;
      height: 160px;
    }
    & .test_sort_block__name::after {
      bottom: 10px;
      left: 23px;
      width: 450px;
    }
  }
}

.test_sort_block__name {
  margin: 8px;
  text-align: center;
  height: 100px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #c4c4c4;
    width: 97%;
    position: absolute;
    bottom: 0;
    left: 4px;
  }
}

.test_sort_cart {
  min-height: 200px;
  width: 96%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.test_sort_answer_list {
  padding: 0;
  list-style-type: none;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.test_sort_item {
  display: flex;
  align-items: center;
  text-align: center;
  width: 260px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 2px;
  margin: 5px 20px;
  line-height: 130%;
  cursor: grab;

  &--stage3 {
    justify-content: center;
  }

  &--stage4,
  &--stage10 {
    flex-basis: 21%;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  &--stage8 {
    flex-basis: 41%;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  &--stage9 {
    min-height: 117px;
    width: 234px;
  }
  &--stage5 {
    flex-basis: 29%;
    width: auto;

    box-sizing: border-box;
    justify-content: center;
  }
}

.test_sort_item__dragend {
  margin: 2px auto;
  width: auto;
}

.test_help__block {
  margin: 40px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.test_sort_help__text {
  color: #c4c4c4;
  background-image: url("../img/sort_help.png");
  background-repeat: no-repeat;
  text-indent: 38px;
  background-position: left center;
  background-size: 29px auto;
  font-size: 16px;
}

.test-radio + .label-true::after,
.test-radio + .label-false::after {
  background: #b8b8b8;
  top: 9px;
  left: 7px;
  width: 12px;
  height: 12px;
}

.test-radio + .label-true::before {
  border: 2px solid #9bb500;
}

.test-radio + .label-false::before {
  border: 2px solid #e9041e;
}

.drag_true {
  border: 2px solid #9ed600;
}

.drag_false {
  border: 2px solid #e9041e;
}

.bg_false {
  background-color: #e9041e;
  color: #ffffff;
}

.bg_true {
  background-color: #9bb500;
  color: #ffffff;
}

.test-btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-btn-drop {
  margin: 50px 10px;
}

.test-btn-drop_check-true {
  max-width: 347px;
  display: none;
}
.test_sort_item__p {
  width: 260px;
}

.l-row_container__p {
  display: none;
}
