.lead__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  position: relative;
  margin: 0;
  color: $e6;
  padding: 10px 10px 10px 0;
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.lead__title span {
  display: inline;
  padding: 10px;
  background-color: rgba(27, 27, 27, 0.54);
}
