// @import "./audio__main/audio__main.scss";

.audio__container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.audio__progress {
  width: 1px;
  height: 70px;
  background: #8a8a8a;

  img {
    position: absolute;
  }
}

.audio__wrapper {
  width: 240px;
  background: #cccccc;
  height: 70px;
  position: relative;
  margin: 0 auto;
}

.audio__toggler {
  width: 80px;
  height: 70px;
  background: url("../img/play.png");
  background-size: 100%;
  background-position: center;
  border: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.audio__toggler:active,
.audio__toggler:focus {
  outline: none !important;
}

.active {
  background: url("../img/pause.png");
  background-size: 100%;
  background-position: center;
  border: none;
}
// .afterAudio {
//   margin-top: 30px;
//   text-align: center;
//   font-size: 16px;
//   line-height: 150%;
// }
