.background-color {
  background-color: #f6f6f6;
  // margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.background-color_pink {
  background-color: #fff9f9;
  // margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 5px;
}
