.hero__scroll-down {
  margin-top: 22px;
  max-width: 50px;
  bottom: 10px;
  margin: 0 auto;
  display: block;
  max-width: 50px;
  // align-self: center;
  // background-position: center center;
  // background-repeat: no-repeat;
  background-size: 32px auto;
  margin-right: 380px;
}

.scroll-down_animation {
  animation: unvisible 1.5s infinite;
  min-width: 28px;
  // margin: 0 auto;
  margin-top: 8px;
  max-height: 45px;
}

@keyframes unvisible {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
