.button-close {
  margin: 70px auto 30px auto;
  max-width: 276px;
}

.button-close__main {
  max-width: 276px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button-close__main:hover {
  border: 1px solid #dc0000;
}

.button-close__main:active,
.button-close__main:focus {
  outline: none !important;
}
