@import "./lead__title/lead__title.scss";
@import "./lead__time/lead__time.scss";

.lead {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #01afad;
  // background-image: url("../../../img/leadBack.png");
  // background-size: contain;
  // background-repeat: no-repeat;
  max-height: 700px;
}

.lead__text {
  margin-top: 84px;
}

.lead__course-title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 76px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 55px 0;
}

.lead__course-title_color {
  color: $e6;
  line-height: 50px;
}

.lead__image {
  position: absolute;
  align-self: flex-end;
  top: 340px;
  max-width: 438px;
  object-fit: cover;
}
