.list__item {
  list-style-type: none;
  margin-top: 10px;
}

.list__item_icon_none {
  list-style-type: none;
  margin-top: 15px;
}

.list__item::before {
  content: "◼";
  color: #dc0000;
  margin-right: 10px;
}

.list__item_number {
  content: none;
  margin-top: 20px;
  margin-left: 25px;
  padding-left: 15px;
  color: $e1;
  font-weight: bold;
}

.list__item_number span {
  color: $s1;
  font-weight: normal;
}
.list__item_cross::before {
  content: "❌";
  color: #dc0000;
}

.list__item_double-cross::before {
  content: "❌❌";
  color: #dc0000;
}

.list__item_check::before {
  content: "✅";
}

.list__item_double-check::before {
  content: "✅✅";
}

.list__item_think::before {
  content: "🤔";
}

.list__item_backhand::before {
  content: "👉";
}

.list__item_shakehands::before {
  content: "🤝";
}

.list__item_hugging::before {
  content: "🤗";
}
