.margin-bottom_10px {
  margin-bottom: 10px;
}

.margin-bottom_20px {
  margin-bottom: 20px;
}

.margin-bottom_30px {
  margin-bottom: 30px;
}

.margin-bottom_40px {
  margin-bottom: 40px;
}

.margin-bottom_50px {
  margin-bottom: 50px;
}

.margin-bottom_60px {
  margin-bottom: 60px;
}

.margin-bottom_70px {
  margin-bottom: 70px;
}

.margin-bottom_80px {
  margin-bottom: 80px;
}

.margin-bottom_90px {
  margin-bottom: 90px;
}

.margin-bottom_100px {
  margin-bottom: 100px;
}
