.autor-speech {
  display: flex;
}

.autor-speech__text-paragraph {
  font-style: italic;
  margin-top: 10px;
}

.autor-speech__text {
  width: 80%;
  margin-right: 20px;
}

.autor-speech__autor-image {
  margin-top: 20px;
  max-width: 95px;
}

.autor-speech__autor {
  min-width: 180px;
}

.autor-speech__autor-name {
  display: none;
}
