.root {
  font-family: "Muller", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  //line-height: 30px;
  min-width: map-get($breakpoints, mobile);
  max-width: 1440px;
  // width: 100%;
  margin: 0 auto;
  padding: 0;
  color: $s1;
  background-color: #e5e5e5;
  // max-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// body,
// div,
// a,
// h1,
// h2,
// h3,
// img,
// p,
// footer {
//   border: 1px solid red;
// }

// ul,
// li,
// ol {
//   border: 1px solid red;
// }
