@import "./header__title/header__title.scss";

.header {
  display: flex;
  background-color: #2c2c2c;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  min-height: 59px;
  padding-top: 15px;
  box-sizing: border-box;
}
