.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title_icon_cross::before {
  content: "❌";
  font-size: 20px;
}
