.page {
  max-width: 1440px;
  background-color: $e6;
  margin: 0 auto;
  width: 100%;
}

.my_modal_container {
  display: flex;
  background-color: #fff;
}
.my_modal_container img {
  margin-right: 20px;
}
.copy-block__btn {
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.copy-block__btn:hover {
  border: 1px solid #dc0000;
}
.copy-block__input {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  border: none;
  margin-right: 10px;
}
.modal-wraper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5e5e5;
  display: none;
}
.modal {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 25px rgba(173, 173, 173, 0.6705882352941176);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_tf__img {
  width: 50px;
}
.modal_tf__img__40 {
  width: 40px;
}
.modal-wraper .modal_img {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 25px #adadadab;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  transform: none;
  /* left: 50%;
  transform: translateX(-50%); */
}
