$breakpoints: (
  mobile: 320px,
  tablet: 780px,
  desktop: 1020px,
);

$e1: #e9041e;
$e6: #ffffff;
$s1: #000000;
$s4: #002b2f;
$gr: #aaaaaa;
$gr1: #bbbbbb;

@import "./vendor/normalize.scss";
@import "mixin.scss";
@import "./vendor/fonts/fonts.scss";
@import "./blocks/root/root.scss";
@import "./blocks/header/header.scss";
@import "./blocks/page/page.scss";
@import "./blocks/content/content.scss";
@import "./blocks/lead/lead.scss";
@import "./blocks/paragraph/paragraph.scss";
@import "./blocks/list/list.scss";
@import "./blocks/video/video.scss";
@import "./blocks/audio/audio.scss";
@import "./blocks/title/title.scss";
@import "./blocks/quote/quote.scss";
@import "./blocks/letter/letter.scss";
@import "./blocks/test/test.scss";
@import "./blocks/slider/slider.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/section-with-slider/section-with-slider.scss";
@import "./blocks/intro/intro.scss";
@import "./blocks/button-close/button-close.scss";
@import "./blocks/background-color/background-color.scss";
@import "./blocks/container/container.scss";
@import "./blocks/scroll-down/scroll-down.scss";
@import "./blocks/margin-bottom/margin-bottom.scss";
@import "./blocks/margin-top/margin-top.scss";
// @import "blocks/calendar-howto.scss";
// @import "blocks/stage-plan.scss";
// @import "blocks/history.scss";
// @import "blocks/audio.scss";
// @import "blocks/image.scss";
// @import "blocks/slider.scss";
// @import "blocks/strategy.scss";
// @import "blocks/custom-list.scss";
// @import "blocks/advantage.scss";
// @import "../../node_modules/slick-carousel/slick/slick.scss";
// @import "blocks/values.scss";
// @import "blocks/stage1-test_header.scss";
// @import "blocks/test.scss";
// @import "blocks/complite_block.scss";
// @import "blocks/more_information.scss";
// @import "blocks/soc_block.scss";
// @import "blocks/link.scss";
// @import "blocks/arrow_page.scss";
// @import "blocks/stage_footer.scss";
// @import "blocks/ideas.scss";
// @import "blocks/codecs.scss";
// @import "blocks/corner-segment.scss";
// @import "blocks/industry.scss";
// @import "blocks/work-vector.scss";
// @import "blocks/lider-position.scss";
// @import "blocks/stage4.scss";
// @import "blocks/simple-list.scss";
// @import "blocks/stage2.scss";
// @import "blocks/stage10.scss";
// @import "blocks/behappy.scss";
// @import "blocks/stage8.scss";
// @import "blocks/QR.scss";
// @import "blocks/edu-method.scss";
// @import "blocks/e-learning.scss";
// @import "blocks/search-program.scss";
// @import "blocks/expand-horizons.scss";
// @import "blocks/white.scss";
// @import "blocks/clientocentrition-development.scss";
// @import "blocks/nps.scss";
// @import "blocks/four-vector.scss";
// @import "blocks/modal.scss";
