.margin-top_10px {
  margin-top: 10px;
}

.margin-top_20px {
  margin-top: 20px;
}

.margin-top_30px {
  margin-top: 30px;
}

.margin-top_40px {
  margin-top: 40px;
}

.margin-top_50px {
  margin-top: 50px;
}

.margin-top_60px {
  margin-top: 60px;
}

.margin-top_70px {
  margin-top: 70px;
}

.margin-top_80px {
  margin-top: 80px;
}

.margin-top_90px {
  margin-top: 90px;
}

.margin-top_100px {
  margin-top: 100px;
}

.margin-top_110px {
  margin-top: 110px;
}

.margin-top_120px {
  margin-top: 120px;
}

.margin-top_130px {
  margin-top: 130px;
}

.margin-top_135px {
  margin-top: 135px;
}
