.letter {
}

.letter__body {
  border: 2px solid $gr;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #fff9f9;
  margin-top: 50px;
  margin-bottom: 50px;
}

.letter__container {
  display: grid;
  grid-template-columns: 100px auto;
}

.letter__container__default {
  color: blue;
  margin-right: 20px;
}

.letter__container__text {
  flex-grow: 1;
}

.letter__container__main-text {
  grid-column-start: 1;
  grid-column-end: 3;
}

.letter__text_color_red {
  color: $e1;
}

.letter__text_color_green {
  color: green;
}
