@import "./video__main/video__main.scss";

.video {
  width: 100%;
  // padding-top: 20%;
  // height: 0px;
  position: relative;
}

.video__container {
  margin: 15px auto;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.video__button {
  max-width: 300px;
  // width: 100%;
  min-height: 48px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  text-align: center;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  margin: 0 auto;
}

.video__button:hover {
  border: 1px solid #dc0000;
}

.video__button:active,
.video__button:focus {
  outline: none !important;
}
.video__buttonn::-moz-focus-inner {
  border: 0 !important;
}

.video__button_active {
  background-color: $gr1;
}
