.paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph_margin-top_60px {
  margin-top: 60px;
}

.paragraph_margin-top_40px {
  margin-top: 40px;
}

.paragraph__font-weight {
  font-weight: bold;
}

.paragraph_text-align_center {
  text-align: center;
}

.paragraph_icon_cross::before {
  content: "❌";
}

.paragraph_icon_check::before {
  content: "✅";
}

.paragraph_icon_backhand::before {
  content: "👉";
}
