.source-site {
  display: flex;
  align-items: center;
}

.source-site__text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 150%;
}

.source-site__image {
  height: 137px;
}

.source-site__site {
  color: #DC0000;
}