@import "./quote__text/quote__text.scss";

.quote {
  width: 100%;
  background-color: #FFF9F9;
  padding-top: 50px;
}

.quote__body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  
}

.quote__body__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.quote__quotes {
  color: #C4C4C4;
}

.quote__autor {
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}

.quote__image {
  padding-top: 20px;
}